<form class="form" id="signup_form">
    <div class="form__field field field--email">
        <label for="email_address" class="field__label">Email address</label>
        <input type="email" name="email_address" id="email_address" class="field__input" required>
    </div>
    <div class="form__field field field--submit">
        <button class="button form__button">Sign up</button>
    </div>
    <p class="form__disclaimer">By submitting your email address, you confirm that you have read and agree to our <a href="/privacy" target="_blank" rel="noopener">Privacy Policy</a></p>
</form>