@import "vars.scss";

html {
  font-family: $fonts_primary;
  font-weight: 400;
  color: $colour_primary;
}
.header {
  min-height: 100vh;
  background-color: $colour_primary;
  background-image: url("/images/upload/header.png");
  position: relative;
  padding: 50px 0;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: -moz-linear-gradient(
      top,
      rgba(82, 53, 124, 0.7) 0%,
      rgba(82, 53, 124, 1) 100%
    );
    background: -webkit-linear-gradient(
      top,
      rgba(82, 53, 124, 0.7) 0%,
      rgba(82, 53, 124, 1) 100%
    );
    background: linear-gradient(
      to bottom,
      rgba(82, 53, 124, 0.7) 0%,
      rgba(82, 53, 124, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9952357c', endColorstr='#52357c',GradientType=0 );
  }
  &__inner {
    position: relative;
    z-index: 2;
    text-align: center;
    max-width: 750px;
    margin: 0 auto;
  }
  &__content {
    max-width: 600px;
    margin: 0 auto 70px;
  }
  &__logo {
    display: inline-block;
  }
  &__title {
    color: #fff;
    font-size: 41px;
    text-transform: uppercase;
    margin-top: 50px;
    padding-bottom: 45px;
    margin-bottom: 25px;
    letter-spacing: 0.1em;
    position: relative;
    &:after {
      content: "";
      display: block;
      width: 100%;
      height: 5px;
      background: #fff;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
  &__text {
    color: #fff;
    font-size: 25px;
    font-weight: 300;
    margin: 0;
    padding: 0 25px;
    strong {
      font-weight: 400;
      text-transform: uppercase;
    }
  }
}

.form {
  background: #fff;
  padding: 45px 55px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  &__field {
    flex: 0 1 100%;
  }
  &__button {
    width: 100%;
  }
}

.field {
  &--email {
    flex: 0 1 70%;
    padding-right: 20px;
  }
  &--submit {
    flex: 0 1 30%;
  }
  &--signup {
    margin-top: 20px;
    .field {
      &__input {
        position: absolute;
        visibility: hidden;
        &:checked {
          + .field__label:before {
            background: $colour_primary;
          }
        }
      }
      &__label {
        font-size: 16px;
        font-weight: 300;
        text-transform: none;
        display: flex;
        align-items: center;
        &:before {
          content: "";
          border: 2px solid $colour_border;
          flex: 0 0 15px;
          height: 15px;
          display: inline-block;
          margin-right: 10px;
          transition: background 0.2s ease-in-out 0s;
        }
      }
    }
  }
  &__label {
    width: 100%;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
    color: $colour_primary;
    display: block;
    text-align: left;
    margin-bottom: 15px;
  }
  &__input {
    background: rgba($colour_primary, 0.2);
    border: none;
    display: block;
    width: 100%;
    font-family: $fonts_primary;
    padding: 10px 20px;
    line-height: 26px;
    font-size: 20px;
  }
}

.button {
  background: $colour_primary;
  border: 2px solid $colour_primary;
  color: #fff;
  font-family: $fonts_primary;
  padding: 8px 30px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 26px;
  cursor: pointer;
  transition: all 0.2s ease-in-out 0s;
  text-decoration: none;
  display: inline-block;
  &:hover {
    background: #fff;
    color: $colour_primary;
  }
}

.strip {
  position: relative;
  padding: 150px 0;
  overflow: hidden;
  &:nth-of-type(odd) {
    background: #fff;
  }
  &:nth-of-type(even) {
    background: $colour_secondary;
  }
  &__image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    img {
      box-shadow: -14px 10px 6px 0px rgba(#000, 0.16);
    }
  }
  &__content {
    flex: 0 0 50%;
    h2,
    h3 {
      font-size: 45px;
      line-height: 64px;
      font-weight: 600;
      padding-right: 150px;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      padding-bottom: 65px;
      margin-bottom: 0px;
      position: relative;
      &:after {
        content: "";
        display: block;
        width: 100%;
        height: 5px;
        background: currentColor;
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }
    p {
      font-size: 22px;
      font-weight: 300;
      strong {
        font-weight: 400;
        text-transform: uppercase;
      }
    }
    a {
      @extend .button;
      margin-top: 20px;
    }
  }
  &__wrapper {
    display: flex;
    width: 100%;
  }
  &--image-right {
    .strip {
      &__image {
        right: 0;
      }
      &__content {
        padding-right: 100px;
      }
      &__wrapper {
        justify-content: flex-start;
      }
    }
  }
  &--image-left {
    .strip {
      &__image {
        left: 0;
      }
      &__content {
        padding-left: 100px;
      }
      &__wrapper {
        justify-content: flex-end;
      }
    }
  }
}

.footer {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  background:#FFF;
}
